h2 {
  font-family: monospace;
  color:black;
}

h3 {
  font-size: 10px;
  font-family: monospace;
  color:gray;
}

div {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.text {
  font-family: monospace;
  color: black;
}

.subtitle {
  font-family: monospace;
  color: black;
  font-size: large;
  font-weight: 600;
}

.text-background {
  background-color: #f0f0f0; 
  padding: 20px; 
  border-radius: 10px; 
  margin-bottom: 20px; 
}

.sub-background {
  background-color: rgb(187, 236, 187);
  padding-left: 50px; 
  padding-right: 50px;
  border-radius: 10px; 
  margin-bottom: 20px; 
}

.label {
  font-family: "Roboto";
  font-size: medium;
  color:black;
}

.button {
  color: rgb(16, 16, 16);
  background-color:rgb(215, 252, 215);;
  border-color: rgb(129, 129, 129);
  border-width: 4px;
}

.button-container {
  display: flex;
  flex-direction: row; 
  gap: 15px;
  justify-content: flex-start;
}

.home-page {
  background-image: linear-gradient(90deg, rgb(195, 228, 162), rgb(234, 255, 215) 45%, rgb(195, 228, 162));
}

.warning {
  color:red;
  font-size: small;
}

.success {
  color:rgb(22, 215, 22);
  font-size: small;
}

.about-container {
  font-family:"cursive";
  font-size: 25px;
  color: black; 
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-container {
  display: flex;
  align-items: center;
  color: rgb(37, 115, 6);
  font-size: 30px;
  font-family: 'Roboto';
  text-shadow: 
    -3.5px -3.5px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     0px  0px 0 #000;
}

.recipe-carousel{
  color: black;
  justify-content: center;
}

.scroll{
  color:black;
  justify-content: center;
}

.carousel-image {
  width: 300px; 
  height: 300px; 
  border: 6px solid black;
  margin:auto;
}

.recipe-box {
  flex: auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(181, 245, 181);
  border: 6px solid black;
  width: 100vh;
  height: 120vh; 
}

.recipe-dropdown {
  flex: auto;
  align-items: right;
  color: black;
}
